h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 900;
  }
 

/* infos */

#infos{
    margin-top: 100px;
    margin-bottom: 100px;
    background: url("../profileDonneur/assets/img/back1.jpg") top right;
  background-size: 100%;
  background-repeat: no-repeat;

}
#infos .btn{
font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  transition: 0.5s;
  margin-top: 30px;

}

#infos .confirm{
    background: #EF4444;
    color: #fff;
}
#infos .confirm:hover{
    color: #EF4444;
    background-color: #fff;
    border-color: #EF4444;
}

#infos label{
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
#infos legend{
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}


.section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
  }

  .section-title p {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4e4039;
  }

  .section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #72c02c;
    bottom: 0;
    left: calc(50% - 30px);
  }
  .option{
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 800px) {
    .option {
      flex-direction: column;
    }
  }
@media screen and (max-width: 600px) {
    .col-sm-2, .col-form-label, .col-sm-10, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
